<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Concurrency & Recovery</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <section id="create">
        <h1 class="title">Create</h1>
    </section>
    <section id="read">
        <h1 class="title">Read</h1>
    </section>
    <section id="update">
        <h1 class="title">Update</h1>
    </section>
    <section id="delete">
        <h1 class="title">Delete</h1>
    </section>
</body>
</html>