<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Concurrency & Recovery</title>
    <link rel="stylesheet" href="styles/read.css">
</head>
<body>
    <h1 class="title">Search Appointment</h1>
    <form action="">
        <h1 class="subtitle"></h1>
        <!-- APPT ID -->
        <div class="apptid">
            <label for="apptid"><h1 class="subtitle">Appointment ID to Search: </h1></label>
            <input class="inputString" name="apptid" type="text">
        </div>
        <!-- SUBMIT BUTTON -->
        <button type="submit" name="button">Search Appointment</button>
    </form>
    <hr>
    <section class="result">
        <h1 class="subtitle">Search Result:</h1>
    </section>
</body>
</html>