<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Logging and Recovery</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <h1>Logs</h1>
    <table>
        <thead>
            <tr>
                <th>id</th><th>action_time</th><th>action</th><th>node</th><th>apptid</th><th>RegionName</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td><td>adfad</td><td>adsf</td><td>adsfasd</td><td>adfa</td><td>adfasdf</td>
            </tr>
        </tbody>
    </table>
</body>
</html>